{%- extends "basic/layout.html" %}


{% block content %}
<div class="content-wrapper">
	<div class="content">
		<div class="document">
			{%- block document %}
			{{ super() }}
			{%- endblock %}
		</div>
	</div>
	<div class="clearer"></div>
</div>
{% endblock %}


{# Omit the top navigation bar. #}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}


{% block footer %}
{%- include "footer.html" %}
<div class="content">
	<center>
		<hr>
		Travis:
		<a target="_blank" href="https://travis-ci.com/gemc/home">     <img src="https://img.shields.io/travis/gemc/home?label=home"/></a>         &nbsp;&nbsp;&nbsp;&nbsp;
		<a target="_blank" href="https://travis-ci.com/gemc/src">      <img src="https://img.shields.io/travis/gemc/src?label=source"/></a>        &nbsp;&nbsp;&nbsp;&nbsp;
		<a target="_blank" href="https://travis-ci.com/gemc/glibrary"> <img src="https://img.shields.io/travis/gemc/glibrary?label=glibrary"/></a> &nbsp;&nbsp;&nbsp;&nbsp;

		<br/>
		Docker:
		<a target="_blank" href="https://hub.docker.com/repository/docker/jeffersonlab/gemc/builds">
		<img src="https://img.shields.io/docker/cloud/build/jeffersonlab/gemc?label=gemc"/></a>
		<img src="https://img.shields.io/docker/pulls/jeffersonlab/gemc"/>   &nbsp;&nbsp;&nbsp;&nbsp;

		<a target="_blank" href="https://hub.docker.com/repository/docker/jeffersonlab/clas12tags/builds">
		<img src="https://img.shields.io/docker/cloud/build/jeffersonlab/clas12tags?label=clas12tags"/></a>
		<img src="https://img.shields.io/docker/pulls/jeffersonlab/clas12tags"/>&nbsp;&nbsp;&nbsp;&nbsp;

		<br/>
		Github:
		<img src="https://img.shields.io/github/repo-size/gemc/src?label=gemc"/>         <img src="https://img.shields.io/github/stars/gemc/src?style=social"/> &nbsp;&nbsp;&nbsp;&nbsp;
		<img src="https://img.shields.io/github/repo-size/gemc/glibrary?label=glibrary"/>&nbsp;&nbsp;&nbsp;&nbsp;

		<hr>
		{{ _('2020 GEMC - Maurizio Ungaro') }}
	</center>
</div>

{% endblock %}


