{%- extends "basic/layout.html" %}



{% block content %}

<div class="content-wrapper">
	<div class="content">
		<div class="document">
			{%- block document %}
			{{ super() }}
			{%- endblock %}
		</div>
	</div>
	<div class="clearer"></div>
</div>
{% endblock %}





{# Omit the top navigation bar. #}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}



{% block footer %}
{%- include "footer.html" %}
{% endblock %}

<a target="_blank" href="https://travis-ci.com/gemc/home">https://img.shields.io/badge/<home>-<>-<brightgreen></a>           <img src="https://travis-ci.com/gemc/home.svg?branch=master"/>&nbsp;
<a target="_blank" href="https://travis-ci.com/gemc/home">travis home</a>           <img src="https://travis-ci.com/gemc/home.svg?branch=master"/>&nbsp;
<a target="_blank" href="https://travis-ci.com/gemc/home">https://img.shields.io/static/v1?label=<source>&color=<blue></a>           <img src="https://travis-ci.com/gemc/home.svg?branch=master"/>&nbsp;
<a target="_blank" href="https://travis-ci.com/gemc/src">travis source</a>          <img src="https://travis-ci.com/gemc/src.svg?branch=master"/>
<a target="_blank" href="https://travis-ci.com/gemc/glibrary">travis glibraries</a> <img src="https://travis-ci.com/gemc/glibrary.svg?branch=master"/>

{{ _('2020 GEMC - Maurizio Ungaro') }}
