{%- extends "basic/layout.html" %}



{% block content %}

<div class="content-wrapper">
	<div class="content">
		<div class="document">
			{%- block document %}
			{{ super() }}
			{%- endblock %}
		</div>
	</div>
	<div class="clearer"></div>
</div>
{% endblock %}





{# Omit the top navigation bar. #}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}



{% block footer %}
{%- include "footer.html" %}
<div class="footer-wrapper">
	<div class="footer">
		<div class="center">
			{{ _('2020 GEMC - Maurizio Ungaro') }}
		</div>
	</div>
</div>
{% endblock %}
